* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
#mainSection {
  height: 100vh;
  width: 100%;
}
.mainArticle {
  height: 100vh;
  width: 100%;
  display: flex;
}
#leftSide {
  position: fixed;
  height: 100vh;
  width: 241px;
  background-color: black;
  padding: 25px;
}
#logoDiv {
  height: 65.2px;
  margin-bottom: 7px;
}
#logo {
  width: 131px;
  height: 40px;
}

/* homeDiv starts */

#homeDiv ul li {
  height: 40px;
}
#homeDiv ul li a {
  color: #b3b3b3;
  font-weight: 550;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s;
}
#homeDiv ul li a:hover {
  color: #ffffff;
}
.fa-house {
  font-size: 22px;
  margin-right: 18px;
}
.fa-magnifying-glass {
  font-size: 22px;
  margin-right: 18px;
}
.fa-music {
  font-size: 22px;
  margin-right: 18px;
}

#homeDiv {
  margin-bottom: 20px;
}

/* homeDiv ends */

/* playListDiv starts */

#playlistDiv {
  border-bottom: 0.5px solid rgb(35, 34, 34);
}
#playlistDiv ul li {
  height: 40px;
}

#playlistDiv ul li a {
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
  transition: 0.2s;
  text-decoration: none;
}
#playlistDiv ul li a:hover {
  color: #ffffff;
}
.fa-square-plus {
  font-size: 24px;
  margin-right: 18px;
  transition: 0.2s;
  color: #b3b3b3;
}
.fa-square-plus:hover {
  color: #ffffff;
}
.fa-heart {
  font-size: 24px;
  margin-right: 18px;
  color: #b3b3b3;
}

/* playListDiv ends */

/* categoryDiv starts */

#categoryDiv {
  margin-bottom: 17px;
}
#categoryDiv ul li {
  height: 32px;
}
#categoryDiv ul li a {
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none solid rgb(179, 179, 179);
  transition: 0.2s;
  line-height: 52px;
}
#categoryDiv ul li a:hover {
  color: #ffffff;
}
/* categoryDiv ends */

/* installDiv ends */

#installDiv {
}
.fa-circle-down {
  font-size: 24px;
  margin-right: 18px;
  color: #b3b3b3;
}
#installDiv a {
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none solid rgb(179, 179, 179);
  line-height: 52px;
}
#installDiv a:hover {
  color: #ffffff;
}
/* installDiv ends */

#rightSide {
  position: absolute;
  left: 17%;
  height: auto;
  width: 83%;
  background-color: rgb(98, 95, 95);
  background: rgb(41, 41, 41);
}

/* Navbar starts */
#nav {
  position: sticky;
  top: 0;
  background-color: black;
  height: 63px;
  width: 83%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 35px;
  position: fixed;
}
#navigationButtons button {
  border-radius: 100%;
  height: 32px;
  width: 32px;
  background-color: rgb(0, 0, 0);
  opacity: 70%;
  border: none;
}
#previous a {
  text-decoration: none;
}
#next a {
  text-decoration: none;
}
.fa-less-than {
  padding: 7px 7px;
  font-size: 16px;
  color: #ffffff;
}
.fa-greater-than {
  font-size: 16px;
  color: #ffffff;
  padding: 7px 7px;
}

/* upgrade Buttons div */
#upgradeButton {
  height: 32px;
  width: 87.7px;
  background-color: rgb(0, 0, 0);
  border: 1px solid #e1e1e1;
  opacity: 70%;
  border-radius: 45px;
  cursor: pointer;
}
#upgradeButton a {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}
#profileButton {
  height: 32px;
  width: 148px;
  border-radius: 45px;
  background-color: rgb(0, 0, 0);
}
#profileButton a span:nth-child(1) {
  padding-right: 20px;
}
.fa-user {
  color: #ffffff;
  font-size: 15px;
}
#profileButton a {
  text-decoration: none;
}
#profileButton a span:nth-child(2) {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}
.fa-caret-down {
  font-size: 15px;
  margin-left: 5px;
  color: #ffffff;
}

/* Navbar ends */

/* main data starts*/

#div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 90px;
  /* cursor: pointer; */
}

#div .album {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 200px;
  height: 280px;
  padding: 14px;
  margin: 10px;
  background-color: rgb(28, 28, 28);
  border-radius: 10px;
  cursor: pointer;
}

#div .album:hover {
  background-color: rgb(56, 56, 56);
}

#div .album img {
  border-radius: 5px;
  width: 170px;
  height: 170px;
}

#div .album h1 {
  color: white;
}

#main-audio {
  position: absolute;
  top: 560px;
  width: 100%;
  height: 100px;
  background-color: rgb(54, 54, 54);
}

/* main data ends*/

/*Controllers stars*/

#main-audio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 85vh;
}

#audio-img {
  width: 70px;
  height: 70px;
  margin-left: 20px;
}
#audio-name {
  font-size: 13px;
  margin-left: 10px;
}

#audio-left {
  display: flex;
  align-items: center;
  /* margin-right: 50px; */
  color: white;
  flex-basis: 20%;
  /* border: 1px solid red; */
}

#audio-center {
  display: flex;
  flex-basis: 60%;
  justify-content: center;
  /* border: 1px solid red; */
}

#audio-center audio {
  display: none;
}

#main-audio button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
  border: none;
  cursor: pointer;
}

#main-audio button:nth-child(3) {
  display: none;
}

#main-audio #audio {
  width: 500px;
}

#main-audio #audio-right {
  flex-basis: 20%;
  /* border: 1px solid red; */
}

#duration-bar {
  width: 0px;
  height: 5px;
  background: red;
}

/* audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #2f2d2e;
} */

/*Controllers ends*/
